form {
    text-align: center;
    margin: 20px 0px;
}

form input, form textarea, form select, form button {
    width: 100%;
    margin-top: 10px;
    padding: 8px 5px;
    outline: none;
    border: none;
}

form input:focus, form textarea:focus, form select:focus, form button:focus {
    border: 1px solid rgb(169, 169, 233);
    box-shadow: 0px 0px 10px rgb(168, 168, 228);
} 