
.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: tomato;
    color: white;
    padding: 10px;
}
.sub-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
}